@model ABCD_Admin.Models.RoomSeat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RoomSeat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.roomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.roomId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat.seatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat.seatName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roomId, seatId = Model.seatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
