@model IEnumerable<ABCD_Admin.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1 m-b-25">Users</h2>
            <button class="au-btn--danger au-btn-icon au-btn--danger">
                <i class="zmdi zmdi-plus"></i>
                @Html.ActionLink("Create New", "Create")

            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.seatName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Movy.movieTitle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoomSeat.roomId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Screening.screeningId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDetail.ticketId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.seatName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Movy.movieTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomSeat.roomId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Screening.screeningId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDetail.ticketId)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.ticketId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ticketId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
